<router-outlet></router-outlet>
<body>
      <app-background></app-background>    
      <div class="scenario-sidebar" *ngIf="scenarios">
        <ul class="chat-list" >
          <li>
            <button *ngFor="let scenario of scenarios" class="chat-item">{{ scenario.title }}</button>
          </li>
        </ul>
      </div>

      <div class="chat-sidebar" *ngIf="chats">
        <ul class="chat-list" >
          <li>
            <button *ngFor="let chat of chats" class="chat-item" (click)="changeChat(chat._id)">{{ chat.title }}</button>

          </li>
        </ul>
      </div>

      <div class="main-content" *ngIf="current_chat">
        <div
          *ngFor="let message of current_chat.messages"
          [ngClass]="{
            'message-row': true,
            'from-user': message.role === 'user',
            'from-character': message.role !== 'user'
          }"
        >
          <div class="message-bubble">
            {{ message.content }}
          </div>
        </div>
      </div>

      <div class="chat-input-container">
        <input
          type="text"
          class="chat-input"
          placeholder="Send a message"
          [(ngModel)]="newMessage"
          (keydown.enter)="sendMessage()"
        />
      </div>
  </body>