<router-outlet></router-outlet>
<body>
    <div class="video-container">
        <video autoplay muted loop id="bg-video">
            <source src="/images/background_vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
      <div class="scenario-sidebar">
        <ul class="chat-list">
          <li class="chat-item">
            <span>Scenario 1</span>
            <!-- <app-card></app-card> -->
             <!-- <app-card></app-card> -->
          </li>
          <li class="chat-item">
            <span>Scenario 2</span>
            <!-- <app-card></app-card> -->
            <!-- <app-card></app-card> -->
          </li>
          <li class="chat-item">
            <span>Scenario 3</span>
            <!-- <app-card></app-card> -->
            <!-- <app-card></app-card> -->
          </li>
          <li class="chat-item">
            <span>Scenario 4</span>
            <!-- <app-card></app-card> -->
            <!-- <app-card></app-card> -->
          </li>
        </ul>
      </div>

      <div class="chat-sidebar" *ngIf="chats">
        <ul class="chat-list" >
          <li *ngFor="let chat of chats">
            <button class="chat-item" (click)="changeChat(chat.id)">{{ chat.title }}</button>
            <!-- <app-card></app-card> -->
            <!-- <app-card></app-card> -->
          </li>
        </ul>
      </div>

      <div class="main-content">
        <!-- Chat content goes here -->
      </div>

      <div class="chat-input-container">
        <input
          type="text"
          class="chat-input"
          placeholder="Send a message"
        />
      </div>
  </body>