<router-outlet></router-outlet>
<body>
    <app-background></app-background>

    <div class="main-content" *ngIf="game_id">
        <div *ngFor="let message of messages" [ngClass]="{
            'message-row': true,
            'from-user': message.role === 'user',
            'from-character': message.role === 'ai'
          }">
          <div class="message-bubble" [innerHTML]="message.content"></div>
        </div>
      </div>

    <div class="chat-input-container">
        <input
          type="text"
          class="chat-input"
          placeholder="Ask a question!"
          [(ngModel)]="newMessage"
          (keydown.enter)="sendMessage()"
        />
      </div>

      <div class="result-message" *ngIf="gameOver">
        <div *ngIf="isCorrect" 
       class="success-message" 
       [class.clickable]="clickToNavigate"
       (click)="clickToNavigate && onBackgroundClick()">
          <h2>Congratulations! 🎉</h2>
          <p>You correctly guessed {{correctAnswer}}!</p>
          <p>Points earned: {{current_points}}</p>
        </div>
        <div *ngIf="!isCorrect"
       class="failure-message"
        [class.clickable]="clickToNavigate"
        (click)="clickToNavigate && onBackgroundClick()">
          <!-- <h2>Game Over! 😢</h2> -->
          <p>The correct answer was {{correctAnswer}}.</p>
          <p>Points earned: {{current_points}}</p>
        </div>
      </div>


      <div class="character-sidebar" *ngIf="allCharacters?.length">
        <h2>Guess who?</h2>
        <input
          type="text"
          class="chat-input"
          placeholder="Search characters..."
          [(ngModel)]="searchText"
        />
      
        <div class="chat-list">
            <div class="card-grid" *ngIf="allCharacters">
            <div *ngFor="let persona of filteredCharacters()" class="card-wrapper">
                <app-card
                [name]="persona.name"
                [era]="persona.era"
                [baseContext]="persona.baseContext"
                (click)="makeGuess(persona)">
                </app-card>
            </div>
            </div>
        </div>
      </div>

      <div class="chat-sidebar" *ngIf="chats"> 
        <div class="sidebar-content">
        <ul class="chat-list">
                <li>
                    <button 
                    class="chat-item"
                    [routerLink]="['/index']">
                    Home
                    </button>
                </li>
                <li>
                    <button 
                    class="chat-item"
                    (click)="refresh()">
                    Play again
                    </button>
                </li>
        </ul>
        <ul class="chat-list">
            <h2 class="chat-title">Chat History:</h2>
                <li *ngFor="let chat of chats">
                    <button 
                    class="chat-item"
                    (click)="navigateToChat(chat._id)">
                    {{ chat.title }}
                    </button>
                </li>
        </ul>
      </div>
    </div>

  
</body>